.container {
    background-color: #dfb6b6;
    color: black;
    padding: 12px;
    width: 500px;
    margin: 150px 0px 0px 400px;
    border: 2px solid green;
}


body {
    background-color: #d9d9d9;
    color: white;


}


b {

    color: blue;
}

